.entry-container {
    display: flex;
    flex-direction: row;
    background: #25273C;
    border-radius: 7px;
    box-sizing: border-box;
    max-width: 800px;
    margin: 40px auto;

    .circle-box {
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 12px;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        margin: 16px;
    }

    .todo-input {
        flex-grow: 1;
        background: #25273C;
        font-size: 16px;
        line-height: 19px;
        color: white;
        Border: 0;
        border-radius: 0 7px 7px 0;
        outline: none;
        padding: 0 24px;
    }

    .todo-input:hover {

    }
}

.entry-container:hover {
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.25);
}


@media only screen and (min-width: 450px) {
    .entry-container {

        .todo-input {
            line-height: 24px;
            font-size: 20px;
        }
    }
}
