.App {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  color: white;

  .header {
    height: 232px;
    background: linear-gradient(131.73deg, rgba(114, 190, 248, 0.8) 14.46%, rgba(166, 116, 242, 0.8) 87.62%), url("./images/bg__trees.png") center no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .app-container {
    position: absolute;
    box-sizing: border-box;
    top: 48px;
    left: 0;
    flex-direction: column;
    width: 100%;
    padding: 20px;

    .title {
      margin: 40px auto;
      font-family: Verdana;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      max-width: 800px;
  
    }

  }  
  // .background-image {
  //   position: absolute;
  //   width: 100%;
  //   height: 352px;
  //   left: 0px;
  //   top: 0px;
  // }
}

@media only screen and (min-width: 450px) {
  .App {

    .header {
      height: 352px;
    }

    .container {

      .title {
        font-size: 36px;
        line-height: 44px;
      }
    }
  }
}