@import "./variables.scss";

.container {
    display: block;
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 800px;
    margin: 0 auto;
    
    .list-container {
        background: $background-grey;
        border-radius: 7px;

        p {
            padding: 16px 30px;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
        }

        .list {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0;

            .list-item {
                display: flex;
                padding: 16px;
                justify-content: space-between;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                
                .completed-checkbox {

                    input[type="checkbox"] {
                        display: none;
                    }

                    input[type="checkbox"] + span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 24px;
                        height: 24px;
                        border: solid 1px $border-grey;
                        background-color: $background-grey;
                        border-radius: 50%;
                        background-image: linear-gradient($background-grey, $background-grey), 
                                          $blue-purple;
                        background-origin: border-box;
                        background-clip: content-box, border-box;
                        transition: all 0.2s ease-in-out;

                        .checkmark {
                            visibility: hidden;
                        }
                    }

                    input[type="checkbox"]:checked + span {

                        display: flex;
                        border: solid 1px transparent;
                        background-color: $background-grey;
                        background-image: $blue-purple;
                        background-origin: border-box;
                        background-clip: border-box;

                        .checkmark {
                            visibility: visible;
                            //height: auto;
                            fill: none;
                            stroke: white;
                            stroke-width: 1;
                            
                            path {
                                stroke-dasharray: 200;
                                stroke-dashoffset: -200;
                                animation: draw 800ms forwards;	
                            }
                        }
                    }

                    input[type="checkbox"] + span:hover {
                        display: flex;
                        border: solid 1px transparent;
                        background-color: none;
                        background-image: linear-gradient($background-grey, $background-grey), 
                                          $blue-purple;
                        background-origin: border-box;
                        background-clip: content-box, border-box;

                    }

                    input[type="checkbox"]:checked + span:hover {

                        display: flex;
                        border: solid 1px transparent;
                        background-color: none;
                        background-image: $blue-purple;
                        background-origin: border-box;
                        background-clip: border-box;

                        .checkmark {
                            //height: auto;
                            visibility: visible;
                            fill: none;
                            stroke: white;
                            stroke-width: 1;
                            
                            path {
                                stroke-dasharray: 200;
                                stroke-dashoffset: -200;
                                animation: draw 800ms forwards;	
                            }
                        }
                    }
                    
                }    

                .strike-through {
                    text-decoration-line: line-through;
                    color: $border-grey;
                }

                .item-name {
                    align-self: center;
                    font-size: 16px;
                    line-height: 19px;
                    flex-grow: 1;
                    padding-left: 10px;
                }

                .item-count {
                    font-size: 12px;
                    padding: 6px;
                    opacity: .4;
                }
            }

            .list-item:last-child {
                border: none;
            }
        }
    }

    .mobile-filters {
        display: flex;
        justify-content: center;
        background: $background-grey;
        border-radius: 7px;

        > div {
            padding: 6px;
            font-size: 12px;
            line-height: 15px;
        }
    }

    .desktop-filters {
        display: none;
    }
}

.icon:hover path {
    fill-opacity: 1;
  }

.hidden {
    display: none;
}

.clear {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $border-grey;
}

.action-button {
    padding: 6px;
    color: $border-grey;
    transition: color .2s;
}

.action-button:hover {
    color: white;
    cursor: pointer;
}

.highlight {
    color: $highlight-blue;
}

@keyframes draw {
	80% {
		stroke-dashoffset: 0;
		fill: none;
	}
	
	100% {
		stroke-dashoffset: 0;
		fill: white;
	}
}

@media only screen and (min-width: 550px) {
    .container {
        
        .list-container {
            p {
                font-size: 20px;
                line-height: 24px;
                margin: 50px auto;
            }

            .list {
    
                .list-item {
                    
                    .item-count {
                        font-size: 16px;
                    }

                    .completed-checkbox {
                        input[type="checkbox"] + span {
                            width: 28px;
                            height: 28px;
                        }
                    }

                    > .item-name {
                        font-size: 20px;
                        line-height: 24px;  
                    }
                }
            }
        }

        .mobile-filters {
            display: none;
        }

        .desktop-filters {
            display: flex;
            justify-content: center;

            > div {
                padding: 6px;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .clear {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
    }
}
/* Customize the label (the container) */
// .container {
//     display: block;
//     position: relative;
//     padding-left: 35px;
//     margin-bottom: 12px;
//     cursor: pointer;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;

//     font-family: Verdana;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 19px;
//     text-align: center;
    
//     color: #FFFFFF;
//     z-index:
//   }

//   /* Hide the browser's default checkbox */
//   .container input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
//     height: 0;
//     width: 0;
//   }
  
//   /* Create a custom checkbox */
//   .checkmark {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 25px;
//     width: 25px;
//     background-color: #eee;
//   }
  
//   /* On mouse-over, add a grey background color */
//   .container:hover input ~ .checkmark {
//     background-color: #ccc;
//   }
  
//   /* When the checkbox is checked, add a blue background */
//   .container input:checked ~ .checkmark {
//     background-color: #2196F3;
//   }
  
//   /* Create the checkmark/indicator (hidden when not checked) */
//   .checkmark:after {
//     content: "";
//     position: absolute;
//     display: none;
//   }
  
//   /* Show the checkmark when checked */
//   .container input:checked ~ .checkmark:after {
//     display: block;
//   }
  
//   /* Style the checkmark/indicator */
//   .container .checkmark:after {
//     left: 9px;
//     top: 5px;
//     width: 5px;
//     height: 10px;
//     border: solid white;
//     border-width: 0 3px 3px 0;
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }